* {
  text-align: center; 
  font-family: 'Lato', sans-serif;
  background-color: #F6FBFF;
}

h1 {
  font-size: 36px;
  font-weight: bold;
}

p {
  margin: 0em 2em 2em 2em;
}

body {
  font-size: 18px;
  font-family: 'Lato', sans-serif;
}

.steps {
  font-weight:bold;
  color:#1E1363;
  background-color: #FFFFFF;
}

button.submit {
  border-radius: 8px;
  background-color: #1E1363;
  color: #F4F7F0;
  width: 20em;
  height: 3.5em;
  border: none;
  font-weight: bold;
  margin: 2.5em 0 3em 0;
  font-size: 16px;
}

button.submit:hover {
  transition-duration: 0.4s;
  background-color: #342A70;
}

button.add {
  font-weight: bold;
  border-radius: 8px;
  background-color: #C8E2ED;
  border: none;
  color: #1E1363;
  width: 8em;
  height: 2.5em;
  margin: 25px 0px 25px 0px;
}

button.remove {
  font-weight: bold;
  border-radius: 8px;
  background-color: #C8E2ED;
  border: none;
  color: #1E1363;
  height: 2.5em;
  width: 2.5em;
  position: absolute;
  transform: translate(-10%, 25%);
}

button.add:hover {
  transition-duration: 0.5s;
  background-color: #B4CCD6;
  border: solid 2px;
}

input {
  border-radius: 8px;
  border-width: 1px;
  width: 45%;
  height: 2.5em;
  background-color: #FFFFFF;
  margin: 7.5px;
}

.formSteps {
  border-radius: 8px;
  border: 2px #C8E2ED solid;
  padding: 25px;
  margin: 5px 5px 15px 5px;
  background-color: #FFFFFF;
}

.form-inline {
  background-color: #FFFFFF;
  padding: 25px 0px 0px 0px;
}

.button-section {
  background-color: #FFFFFF;
}

.logo {
  max-width: 35%;
  margin: 2em;
}

label {
  background-color: #FFFFFF;
}

svg {
  background-color: #FFFFFF;
  border-radius: 8px;
  border: 2px #C8E2ED solid;
  font-weight: bold;
  font-size: 24px;
}

div.results {
  border-radius: 8px;
  border: 2px #C8E2ED solid;
  margin: auto;
  margin-top: 3em;
  margin-bottom: 5em;
  background-color: #FFFFFF;
  padding: 5px;
  max-width: 75%;
}

.final-category {
  background-color: #FFFFFF;
  color: #1E1363;
  /* text-align: left; */
  /* margin-left: 2em; */
}

.advice {
  background-color: #FFFFFF;
  /* text-align: left; */
  /* margin-left: 4em; */
}

.resources {
  background-color: #FFFFFF;
  /* text-align: left; */
  /* margin-left: 6em; */
}

a {
  background-color: #FFFFFF;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (min-width: 650px) {

  .formSteps{
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
  }
  
}